<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Bernie's Italian Resturant</title>
</head>

<body class="container-fluid">
    <div class="header">
        <a href="index.html" class="logo">Bernie's Italian Resturant</a>
        <div class="header-right">
            <a class="active" href="#home">Home</a>
            <a href="page2.html">About</a>
            <a href="page3.html">Menu</a>
        </div>
    </div>

    <div class="hero-image">
        <div class="hero-text">
            <h1>Bernie's Italian Resturant</h1>
            <p class="text-center">Place an Online Order</p>
            <button class="btn">Order Now</button>
        </div>
    </div>

    <div class="sidepic">
        <img src="start3.jpg" alt="yummy food" width=30%>
    </div>

    <div class="main2">
        <h2>
            Bernie's has been Bloomington-Normal's favorite resturant for over 20 years!
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eleifend erat eu magna faucibus, in euismod
            justo volutpat. Praesent ornare iaculis sollicitudin. Etiam quis lacinia urna. Pellentesque fermentum
            posuere nunc, non gravida dui dictum quis. Vestibulum viverra est eros, id gravida est euismod nec. Vivamus
            suscipit commodo dui eu convallis. Praesent facilisis nisl at consectetur lacinia. Nunc ac metus eu leo
            feugiat facilisis ac eu dui. Curabitur sed dolor et turpis pellentesque mattis. Aliquam erat volutpat. Cras
            sagittis ullamcorper lobortis. Donec rutrum, lorem varius posuere fermentum, ipsum magna ultricies justo, in
            convallis nisi massa a lacus. In convallis, felis sit amet sodales finibus, quam turpis semper metus,
            dignissim convallis mauris lorem vel odio. Pellentesque purus magna, rutrum nec tellus eget, dictum aliquam
            quam. Fusce facilisis placerat erat vel feugiat. Morbi molestie tortor mattis fringilla semper. Etiam nec
            quam ullamcorper, ornare ipsum in, auctor lorem.F
        </p>
    </div>

    <div class="main2">
        <div class="sidepic2">
            <img src="start4.jpg" alt="yummy food" width=420>
        </div>

        <h2>
            A brand new twist to all of your favorite dishes!
        </h2>
        <p>
            There is no way I can think of this much text about food. Other pages will have proper text, I just suck a
            writing :/ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel purus a ligula gravida mattis
            vestibulum
            a mi. Vestibulum id turpis sit
            amet ipsum rutrum fermentum. Donec eget massa tincidunt tortor placerat iaculis. Nullam est ipsum, blandit
            vel velit at, sodales pretium elit.
            In condimentum et mauris ut congue. Etiam sed erat sit amet urna facilisis feugiat. Suspendisse quis eros
            efficitur, placerat turpis et, lacinia dui.
            Cras nec arcu ac risus ullamcorper malesuada posuere hendrerit lorem. Phasellus venenatis odio arcu,
            eleifend facilisis dolor congue in. Quisque lorem quam,
            dapibus eget dui non, molestie condimentum metus. Suspendisse lobortis nulla a risus pulvinar, ut blandit
            nisl tempor. In condimentum et mauris ut congue. Etiam sed erat sit amet urna facilisis feugiat. Suspendisse
            quis eros
            efficitur, placerat turpis et, lacinia dui.
            Cras nec arcu ac risus ullamcorper malesuada posuere hendrerit lorem. Phasellus venenatis odio arcu,
            eleifend facilisis dolor congue in. Quisque lorem quam,
            dapibus eget dui non, molestie condimentum metus. Suspendisse lobortis nulla a risus pulvinar, ut blandit
            nisl tempor. In condimentum et mauris ut congue. Etiam sed erat sit amet urna facilisis feugiat. Suspendisse
            quis eros
            efficitur, placerat turpis et, lacinia dui.

    </div>

    <div class="sidepic3">
        <img src="start2.jpg" alt="yummy food" width=30%>
    </div>

    <div class="main2">
        <h2>
            We'll have you wanting more by the end of your Meal!
        </h2>
        <p>
            I became a computer science major so i wouldn't have to write essays Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Proin vel purus a ligula gravida mattis vestibulum
            a mi. Vestibulum id turpis sit
            amet ipsum rutrum fermentum. Donec eget massa tincidunt tortor placerat iaculis. Nullam est ipsum, blandit
            vel velit at, sodales pretium elit.
            In condimentum et mauris ut congue. Etiam sed erat sit amet urna facilisis feugiat. Suspendisse quis eros
            efficitur, placerat turpis et, lacinia dui.
            Cras nec arcu ac risus ullamcorper malesuada posuere hendrerit lorem. Phasellus venenatis odio arcu,
            eleifend facilisis dolor congue in. Quisque lorem quam,
            dapibus eget dui non, molestie condimentum metus. Suspendisse lobortis nulla a risus pulvinar, ut blandit
            nisl tempor. orem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel purus a ligula gravida mattis
            vestibulum
            a mi. Vestibulum id turpis sit
            amet ipsum rutrum fermentum. Donec eget massa tincidunt tortor placerat iaculis. Nullam est ipsum, blandit
            vel velit at, sodales.
        </p>
    </div>

    <form action="action_page.php">
        <div class="container">
            <h2>Subscribe to our Newsletter!</h2>
            <p>Lorem ipsum text about why you should subscribe to our newsletter blabla. Lorem ipsum text about why you
                should subscribe to our newsletter blabla</p>
        </div>

        <div class="container" style="background-color:white ">
            <input type="text" placeholder="Name" name="name" required>
            <input type="text" placeholder="Email address" name="mail" required>
            <label>
                <input type="checkbox" checked="checked" name="subscribe"> Monthly Newsletter
            </label>
        </div>

        <div class="container">
            <input type="submit" value="Subscribe">
        </div>
    </form>


    <div class="navbar">
        <a href="#">Send us a Message</a>
        <a href="#">Phone: (555)555-5555</a>
        <a href="#">Email: Bernies@gmail.com</a>
        <a href="#">Social Media</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>

</html>
