<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Bernie's Italian Resturant</title>
</head>

<body>
    <div class="header">
        <a href="index.html" class="logo">Bernie's Italian Resturant</a>
        <div class="header-right">
            <a href="index.html">Home</a>
            <a href="page2.html">About</a>
            <a class="active" href="#about">Menu</a>
        </div>
    </div>

    <div class="title">
        <h1>Menu</h1>
    </div>
    <table>
        <tr>
            <th>Breakfast</th>
            <th>Lunch</th>
            <th>Dinner</th>
        </tr>
        <tr>
            <td><img src="start6.jpg" alt="yummy food" width=420></td>
            <td><img src="start7.jpg" alt="yummy food" width=420></td>
            <td><img src="start8.jpg" alt="yummy food" width=420></td>
        </tr>
        <tr>
            <td>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus ipsum enim, in varius dolor
                malesuada quis. Suspendisse potenti. Aenean a sapien a elit volutpat vestibulum. Ut luctus diam
                lobortis, dapibus nisl quis, tempus enim. Vestibulum ut massa ac nisi dictum pharetra ac ornare leo. In
                convallis dignissim neque, fringilla laoreet turpis. Phasellus condimentum purus elementum, viverra odio
                non, rutrum ex. Vivamus dignissim, est vel condimentum suscipit, ipsum risus feugiat dui, et ultrices
                est quam commodo turpis. Phasellus id consequat ligula. Interdum et malesuada fames ac ante ipsum primis
                in faucibus. Nulla id massa maximus ipsum convallis faucibus sit amet eget urna. Praesent a congue est,
                id molestie tellus. Curabitur gravida vitae ex non iaculis. Sed a dignissim arcu, nec feugiat mi. Ut nec
                finibus velit.

                Aenean semper, mauris id cursus gravida, quam tortor egestas nisl, vehicula porta velit erat id nunc.
                Nullam posuere laoreet molestie. Integer leo risus, sagittis a lacus ut, eleifend molestie velit.
                Curabitur finibus eget lectus sit amet pharetra. Curabitur nisl mauris, cursus sit amet semper vel,
                bibendum nec nisi. Sed mattis tortor nec libero elementum dictum. Sed sed nibh gravida, fermentum ipsum
                a, iaculis purus.
            </td>
            <td>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus ipsum enim, in varius dolor
                malesuada quis. Suspendisse potenti. Aenean a sapien a elit volutpat vestibulum. Ut luctus diam
                lobortis, dapibus nisl quis, tempus enim. Vestibulum ut massa ac nisi dictum pharetra ac ornare leo. In
                convallis dignissim neque, fringilla laoreet turpis. Phasellus condimentum purus elementum, viverra odio
                non, rutrum ex. Vivamus dignissim, est vel condimentum suscipit, ipsum risus feugiat dui, et ultrices
                est quam commodo turpis. Phasellus id consequat ligula. Interdum et malesuada fames ac ante ipsum primis
                in faucibus. Nulla id massa maximus ipsum convallis faucibus sit amet eget urna. Praesent a congue est,
                id molestie tellus. Curabitur gravida vitae ex non iaculis. Sed a dignissim arcu, nec feugiat mi. Ut nec
                finibus velit.

                Aenean semper, mauris id cursus gravida, quam tortor egestas nisl, vehicula porta velit erat id nunc.
                Nullam posuere laoreet molestie. Integer leo risus, sagittis a lacus ut, eleifend molestie velit.
                Curabitur finibus eget lectus sit amet pharetra. Curabitur nisl mauris, cursus sit amet semper vel,
                bibendum nec nisi. Sed mattis tortor nec libero elementum dictum. Sed sed nibh gravida, fermentum ipsum
                a, iaculis purus.
            </td>
            <td>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus ipsum enim, in varius dolor
                malesuada quis. Suspendisse potenti. Aenean a sapien a elit volutpat vestibulum. Ut luctus diam
                lobortis, dapibus nisl quis, tempus enim. Vestibulum ut massa ac nisi dictum pharetra ac ornare leo. In
                convallis dignissim neque, fringilla laoreet turpis. Phasellus condimentum purus elementum, viverra odio
                non, rutrum ex. Vivamus dignissim, est vel condimentum suscipit, ipsum risus feugiat dui, et ultrices
                est quam commodo turpis. Phasellus id consequat ligula. Interdum et malesuada fames ac ante ipsum primis
                in faucibus. Nulla id massa maximus ipsum convallis faucibus sit amet eget urna. Praesent a congue est,
                id molestie tellus. Curabitur gravida vitae ex non iaculis. Sed a dignissim arcu, nec feugiat mi. Ut nec
                finibus velit.

                Aenean semper, mauris id cursus gravida, quam tortor egestas nisl, vehicula porta velit erat id nunc.
                Nullam posuere laoreet molestie. Integer leo risus, sagittis a lacus ut, eleifend molestie velit.
                Curabitur finibus eget lectus sit amet pharetra. Curabitur nisl mauris, cursus sit amet semper vel,
                bibendum nec nisi. Sed mattis tortor nec libero elementum dictum. Sed sed nibh gravida, fermentum ipsum
                a, iaculis purus.
        </tr>
    </table>

    <div class="navbar">
        <a href="#">Send us a Message</a>
        <a href="#">Phone: (555)555-5555</a>
        <a href="#">Email: Bernies@gmail.com</a>
        <a href="#">Social Media</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>

</html>