<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Bernie's Italian Resturant</title>
</head>

<body>
    <div class="header">
        <a href="index.html" class="logo">Bernie's Italian Resturant</a>
        <div class="header-right">
            <a href="index.html">Home</a>
            <a class="active" href="#menu">About</a>
            <a href="page3.html">Menu</a>
        </div>
    </div>

    <div class="img2">
        <img src="start5.jpg" alt="yummy food" width="800px">
    </div>
    <br>


    <div class="paragraph2">
        <h2>
            About Bernie's Italian Resturant
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare blandit neque, feugiat convallis metus
            elementum tempus. Vivamus vehicula, odio nec lacinia lobortis, arcu arcu faucibus ipsum, vitae convallis mi
            ligula sit amet massa. Phasellus convallis purus in tempus lacinia. Vivamus vestibulum porta odio. Donec at
            gravida arcu, sed ultricies metus. Nullam tincidunt iaculis metus, vitae dapibus sem placerat vel. Duis
            mollis mauris non orci mattis, in tristique nisi luctus. Phasellus laoreet odio ac magna venenatis, non
            egestas quam lobortis.

            Nullam lacinia orci nisl, in pharetra ligula facilisis id. Vivamus accumsan mollis neque. Pellentesque
            semper neque non fermentum facilisis. Proin at rhoncus eros, vulputate vulputate magna. Phasellus tempus
            vehicula leo, rutrum mattis nisi blandit at. Proin finibus sapien non semper egestas. Aliquam erat volutpat.
            Aenean congue, eros a varius fermentum, neque massa porttitor velit, eleifend faucibus felis felis sit amet
            lectus. Curabitur vel sapien accumsan, rhoncus mauris eget, auctor erat. Morbi nec pharetra turpis. Duis vel
            consectetur arcu. Etiam eu volutpat purus.

            Curabitur lorem nisi, ultrices sit amet accumsan vel, auctor a nisi. Nam a lacus ac quam dignissim pulvinar
            eget vitae nulla. Morbi hendrerit egestas ipsum, in tincidunt mauris. Sed mollis odio convallis tristique
            finibus. Donec elementum purus in enim auctor, quis sollicitudin sem sodales. In pulvinar orci lacus, in
            semper dui interdum et. Nulla iaculis tellus sem, id tempor turpis dapibus sit amet.
        </p>

    </div>

    <div class="navbar">
        <a href="#">Send us a Message</a>
        <a href="#">Phone: (555)555-5555</a>
        <a href="#">Email: Bernies@gmail.com</a>
        <a href="#">Social Media</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>